@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Screen List";
}

@model BookMovieShow.Areas.Admin.Model.ShowTimeModel

<main class="main" id="main">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">ShowTime Add/Edit Page</h5>

            <!-- No Labels Form -->
            <form class="row g-3" method="post" asp-area="Admin" asp-controller="ShowTime" asp-action="ShowTime_Save">
                @Html.HiddenFor(x => x.ShowTimeID)

                @* <div class="col-md-12">
                    <label>Cinema</label>
                    <select class="form-select" id="CinemaID" asp-for="CinemaID" asp-items="@(new SelectList(ViewBag.CinemaList,"CinemaID","CinemaName"))">
                        <option>Select Cinema</option>
                    </select>
                </div> *@

                <div class="col-md-12">
                    <label>Cinema</label>
                    <select class="form-select" id="CinemaID" onchange="fnOnCinemaChange();" asp-for="CinemaID" asp-items="@(new SelectList(ViewBag.CinemaList,"CinemaID","CinemaName"))">
                        <option>Select Cinema</option>
                    </select>
                    <span asp-validation-for="CinemaID" class="text-danger"></span>
                </div>

                @* <div class="col-md-12">
                    <label>Movie</label>
                    <select class="form-select"asp-for="MovieID" asp-items="@(new SelectList(ViewBag.MovieList,"MovieID","Title"))">
                        <option>Select Movie</option>
                    </select>
                </div> *@

                <div class="col-md-12">
                    <label>Movie</label>
                    <select class="form-select" id="MovieID" onchange="fnOnMovieChange();" asp-for="MovieID" asp-items="@(new SelectList(ViewBag.MovieList,"MovieID","Title"))">
                        <option>Select Movie</option>
                    </select>
                    <span asp-validation-for="MovieID" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label>Screens</label>
                    <select class="form-select" asp-for="ScreenID" asp-items="@(new SelectList(ViewBag.ScreenList,"ScreenID","ScreenName"))">
                        <option>Select Screen</option>
                    </select>
                    <span asp-validation-for="ScreenID" class="text-danger"></span>
                </div>


                <div class="col-md-12">
                    <label>ShowTime</label>
                    <input type="time" class="form-control" placeholder="HH : MM : SS" asp-for="ShowTime">
                    <span asp-validation-for="ShowTime" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label>Available Seats</label>
                    <input type="number" class="form-control" placeholder="Enter Avaible Seats" asp-for="AvailableSeats">
                    <span asp-validation-for="AvailableSeats" class="text-danger"></span>
                </div>

                <div class="col-md-12">
                    <label>Price</label>
                    <input type="number" class="form-control" placeholder="Enter Price" asp-for="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <a class="btn btn-danger" asp-area="Admin" asp-controller="ShowTime" asp-action="ShowTime_List">Back</a>
                </div>
            </form><!-- End No Labels Form -->

        </div>

    </div>

</main>

@section Scripts{
    <script>
        function fnOnCinemaChange() {
            var cinemaID = $("#CinemaID").val();
            if (cinemaID !== "") {
                $("#MovieID").empty();
                $("#MovieID").append($("<option></option>").val("").html("Select Movie"));
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("MovieDropDownByCinemaID", "ShowTime")" + "?cinemaID=" + cinemaID,
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        $.each(result,
                            function (key, value) {
                                $("#MovieID").append($("<option></option>").val(value.movieID).html(value.title));
                            });
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        alert("Error while loading movies.");
                    }
                });
            } else {
                $("#MovieID").empty();
                $("#MovieID").append($("<option></option>").val("").html("Select Movie"));
            }
        }

        function fnOnMovieChange() {
            var cinemaID = $("#CinemaID").val();
            var movieID = $("#MovieID").val();
            if (cinemaID !== "" && movieID !== "") {
                $("#ScreenID").empty();
                $("#ScreenID").append($("<option></option>").val("").html("Select Screen"));
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("ScreenDropDownByCinemaIDAndMovieID", "ShowTime")" + "?cinemaID=" + cinemaID + "&movieID=" + movieID,
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        $.each(result,
                            function (key, value) {
                                $("#ScreenID").append($("<option></option>").val(value.screenID).html(value.screenName));
                            });
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        alert("Error while loading screens.");
                    }
                });
            } else {
                $("#ScreenID").empty();
                $("#ScreenID").append($("<option></option>").val("").html("Select Screen"));
            }
        }
    </script>

}