@using BookMovieShow.BAL;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="~/assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets2/css/all.min.css">
    <link rel="stylesheet" href="~/assets2/css/animate.css">
    <link rel="stylesheet" href="~/assets2/css/flaticon.css">
    <link rel="stylesheet" href="~/assets2/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets2/css/odometer.css">
    <link rel="stylesheet" href="~/assets2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets2/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets2/css/nice-select.css">
    <link rel="stylesheet" href="~/assets2/css/jquery.animatedheadline.css">
    <link rel="stylesheet" href="~/assets2/css/main.css">

    <link rel="shortcut icon" href="~/assets2/images/logo/logo12343.png" type="image/x-icon">

    <title>BookMovieShow  - DashBoard</title>


</head>

<body>

    <!-- ==========Preloader========== -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- ==========Preloader========== -->
    <!-- ==========Overlay========== -->
    <div class="overlay"></div>
    <a href="#0" class="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- ==========Overlay========== -->
    <!-- ==========Header-Section========== -->
    <header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo">
                    <a href="index.html">
                        <img src="~/assets2/images/logo/logo1234.png" alt="logo">
                    </a>
                </div>
                <ul class="menu">
                    <li>
                        <a asp-area="User" asp-controller="UserDashBoard" asp-action="User_DashBoard" class="active">Home</a>
                    </li>
                    <li>
                        <a asp-area="User" asp-controller="MovieList" asp-action="User_MovieList">Movies</a>
                    </li>
                    <li>
                        <a asp-area="User" asp-controller="FoodPlan" asp-action="FoodPlanList">Food Plan</a>
                    </li>
                    <li>
                        <a href="contact.html">contact</a>
                    </li>
                    <li>
                        @{
                            if (CV.UserID() == 0)
                            {

                            <li class=" header-button pr-0">
                                <a asp-area="SEC_Login" asp-controller="SEC_Login" asp-action="SEC_LoginPage" style="margin-right:30px; color:#e9eeff; font-weight:bold">
                                    LOGIN / SIGN UP
                                </a>
                            </li>

                            }
                            else
                            {
                            <li>
                                <a>Welcome , @CV.UserName()</a>
                                <ul class="submenu">
                                    <li>
                                        <h6 style="color:black;">@CV.UserName()</h6>
                                        <span style="color:black;">@CV.Email()</span>
                                    </li>
                                    <li>
                                        <a asp-area="User" asp-controller="User" asp-action="Profile">
                                            <i class="bi bi-person"></i>
                                            <span>My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-area="User" asp-controller="User" asp-action="BookingList">
                                            <i class="bi bi-gear"></i>
                                            <span>Booking History</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="bi bi-question-circle"></i>
                                            <span>Need Help?</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Home" asp-action="Index">
                                            <i class="bi bi-box-arrow-right"></i>
                                            <span>Sign Out</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            }
                        }
                    </li><!--Sign In Button -->
                </ul>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>
    <!-- ==========Header-Section========== -->

    <div class="container-fluid">
        <main class="main pb-3">
            <section class="section">
                @RenderBody()
            </section>
        </main>
    </div>

    <!-- ======= Footer ======= -->
    <footer class="footer-section">
        <div class="newslater-section padding-bottom">
            <div class="container">
                <div class="newslater-container bg_img" data-background="~/assets2/images/newslater/newslater-bg01.jpg">
                    <div class="newslater-wrapper">
                        <h5 class="cate">subscribe to BookMovieShow </h5>
                        <h3 class="title">to get exclusive benifits</h3>
                        <form class="newslater-form">
                            <input type="text" placeholder="Your Email Address">
                            <button type="submit">subscribe</button>
                        </form>
                        <p>We respect your privacy, so we never share your info</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="footer-top">
                <div class="logo">
                    <a href="index-1.html">
                        <img src="~/assets2/images/footer/footer-logo1234.png" style="height: 74px;" alt="footer">
                    </a>
                </div>
                <ul class="social-icons">
                    <li>
                        <a href="#0">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0" class="active">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-pinterest-p"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-google"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <div class="footer-bottom-area">
                    <div class="left">
                        <p>Copyright © 2020.All Rights Reserved By <a href="#0">BookMovieShow </a></p>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="#0">About</a>
                        </li>
                        <li>
                            <a href="#0">Terms Of Use</a>
                        </li>
                        <li>
                            <a href="#0">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#0">FAQ</a>
                        </li>
                        <li>
                            <a href="#0">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <script src="~/assets2/js/jquery-3.3.1.min.js"></script>
    <script src="~/assets2/js/modernizr-3.6.0.min.js"></script>
    <script src="~/assets2/js/plugins.js"></script>
    <script src="~/assets2/js/bootstrap.min.js"></script>
    <script src="~/assets2/js/heandline.js"></script>
    <script src="~/assets2/js/isotope.pkgd.min.js"></script>
    <script src="~/assets2/js/magnific-popup.min.js"></script>
    <script src="~/assets2/js/owl.carousel.min.js"></script>
    <script src="~/assets2/js/wow.min.js"></script>
    <script src="~/assets2/js/countdown.min.js"></script>
    <script src="~/assets2/js/odometer.min.js"></script>
    <script src="~/assets2/js/viewport.jquery.js"></script>
    <script src="~/assets2/js/nice-select.js"></script>
    <script src="~/assets2/js/main.js"></script>




    @*@RenderSection("scripts");*@
    @RenderSection("scripts", required: false);
</body>
</html>

