@{
    ViewData["Title"] = "Add Movies to Cinema";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model BookMovieShow.Areas.Admin.Model.CinemaWithMoviesModel


<main id="main" class="main">

    <!---->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Cinema With Movies Add/Edit Page</h5>

            <!-- No Labels Form -->
            <form class="row g-3" method="post" asp-area="Admin" asp-controller="CinemaWithMovies" asp-action="CinemaWithMovies_Save">
                @Html.HiddenFor(x => x.ID)

                <div class="col">

                    <div class="row">
                        <div class="row">
                            <div class="row">
                                <label><b>Cinema Name </b></label>
                            </div>
                            <div class="row">
                                <select class="form-select" asp-for="CinemaID" asp-items="@(new SelectList(ViewBag.CinemaList,"CinemaID","CinemaName"))">
                                    <option>Select Cinema</option>
                                </select>
                                <span asp-validation-for="CinemaID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <label><b>Movie Name </b></label>
                            </div>
                            @* <div class="row">
                            <select class="form-control selectpicker" asp-for="MovieID" asp-items="@(new SelectList(ViewBag.MovieList, "MovieID", "Title"))" multiple data-live-search="true">
                            <option>Select Movie</option>
                            </select>
                            </div> *@

                            <div class="row">
                                <select class="form-select" multiple="" aria-label="multiple select example" asp-for="MovieID" asp-items="@(new SelectList(ViewBag.MovieList, "MovieID", "Title"))">
                                    <option value="">Select Movie</option>
                                    @* <option value=""><div><input class="checkbox1"  type="checkbox"/></div></option> *@
                                </select>
                                <span asp-validation-for="MovieID" class="text-danger"></span>
                            </div>

                            @* <div class="dropdown">
                                <button class="btn btn-success dropdown-toggle"
                                        type="button"
                                        id="multiSelectDropdown"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    Select
                                </button>
                                <ul class="dropdown-menu"
                                    aria-labelledby="multiSelectDropdown">
                                    <li>
                                        <select class="form-select" multiple="" aria-label="multiple select example" asp-for="MovieID" asp-items="@(new SelectList(ViewBag.MovieList, "MovieID", "Title"))">
                                            <option value="">Select Movie</option>
                                        </select>
                                    </li>
                                </ul>
                            </div> *@
                        </div>

                    </div>


                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form><!-- End No Labels Form -->

        </div>

    </div>
    <!---->
</main>

@section Scripts
{

    <script>
        const chBoxes =
            document.querySelectorAll('.dropdown-menu input[type="checkbox"]');
        const dpBtn =
            document.getElementById('multiSelectDropdown');
        let mySelectedListItems = [];

        function handleCB() {
            mySelectedListItems = [];
            let mySelectedListItemsText = '';

            chBoxes.forEach((checkbox) => {
                if (checkbox.checked) {
                    mySelectedListItems.push(checkbox.value);
                    mySelectedListItemsText += checkbox.value + ', ';
                }
            });

            dpBtn.innerText =
                mySelectedListItems.length > 0
                    ? mySelectedListItemsText.slice(0, -2) : 'Select';
        }

        chBoxes.forEach((checkbox) => {
            checkbox.addEventListener('change', handleCB);
        });
    </script>


    <script>
        $(document).ready(function () {
            $(".chosen-select").chosen();
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#multiple-checkboxes').multiselect();
        });
    </script>


}
