@{
    ViewData["Title"] = "Movie List";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
@using System.Data
@model DataTable
@using BookMovieShow.Areas.User.Model
@{
    UserDashBoard_FilterModel FilterModel = new UserDashBoard_FilterModel();
}


<style>
    select {
        background: border-box;
        border: hidden;
    }

    option {
        color: black;
    }

    button {
        background-color: gray;
    }
</style>


<!-- Banner-Section -->
<section class="banner-section">
    <div class="banner-bg bg_img bg-fixed" data-background=@Url.Content("~/assets2/images/banner/banner02.jpg")></div>
    <div class="container">
        <div class="banner-content">
            <h1 class="title bold">get <span class="color-theme">movie</span> tickets</h1>
            <p>Buy movie tickets in advance, find movie times watch trailer, read movie reviews and much more</p>
        </div>
    </div>
</section>
<!-- Banner-Section -->
<!-- Movie-Search -->
<section class="search-ticket-section padding-top pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background=@Url.Content("~/assets2/images/ticket/ticket-bg01.jpg")>
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">welcome to BookMovieShow </h6>
                        <h3 class="title">what are you looking for</h3>
                    </div>
                </div>
                <div class="col-lg-6 mb-20">
                    <ul class="tab-menu ticket-tab-menu" style="justify-content: end;">
                        @* <li></li>
                        <li></li> *@
                        <li class="active">
                            <div class="tab-thumb">
                                <img src="~/assets2/images/ticket/ticket-tab01.png" alt="ticket">
                            </div>
                            <span>Movie</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-area">
                <div class="tab-item active row">
                    <form method="post" class="ticket-search-form" asp-area="User" asp-controller="MovieList" asp-action="MovieList_Filter">

                        <div class="form-group col">
                            <div class="thumb">
                                <img src="~/assets2/images/ticket/city.png" alt="ticket">
                            </div>
                            <span class="type">State</span>
                            <select class=" form-select" id="StateID" onchange="fnOnStateChange();" asp-for="@FilterModel.StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">
                                <option>Select State</option>
                            </select>
                        </div> <!--State DropDown-->

                        <div class="form-group col">
                            <div class="thumb">
                                <img src="~/assets2/images/ticket/date.png" alt="ticket">
                            </div>
                            <span class="type">date</span>
                            <select class=" form-select" id="CityID" asp-for="@FilterModel.CityID" onchange="fnOnCityChange();" asp-items="@(new SelectList(ViewBag.CityList, "CityID", "CityName"))">
                                <option>Select City</option>
                            </select>
                        </div> <!--City DropDown-->
                        @*  <div class="form-group col">
                        <div class="thumb">
                        <img src="~/assets2/images/ticket/cinema.png" alt="ticket">
                        </div>
                        <span class="type">cinema</span>
                        <select class=" form-select" id="CinemaID" asp-for="@FilterModel.CinemaID" asp-items="@(new SelectList(ViewBag.CinemaList,"CinemaID","CinemaName"))">
                        <option>Select Cinema</option>
                        </select>
                        </div> <!--Cinema DropDown--> *@
                        <div class="form-group col large" id="sample_1_filter">
                            <input type="text" asp-for="@FilterModel.Title" placeholder="Search for Movies" id="sample_1" aria-controls="sample_1">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Movie-Search -->
<!-- Movie-Section -->
<section class="movie-section padding-top padding-bottom">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">

            <!--Filter Start-->
            <div class="col-sm-10 col-md-8 col-lg-3">
                <div class="widget-header">
                    <h5 class="m-title">Filter By</h5>
                </div>
                <form method="post" asp-area="User" asp-controller="MovieList" asp-action="MovieList_LanguageAndGenre_Filter">
                    <div class="widget-1 widget-check">
                        <div class="widget-1-body">
                            <h6 class="subtitle">Language</h6>
                            <div class="check-area">
                                <div class="form-group">
                                    <input type="checkbox" name="Language" id="lang1" value="Tamil"><label for="lang1">Tamil</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Language" id="lang2" value="Telugu"><label for="lang2">Telegu</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Language" id="lang3" value="Hindi"><label for="lang3">Hindi</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Language" id="lang4" value="English"><label for="lang4">English</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Language" id="lang6" value="Gujarati"><label for="lang6">Gujrati</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Language" id="lang7" value="Bangla"><label for="lang7">Bangla</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-1 widget-check">
                        <div class="widget-1-body">
                            <h6 class="subtitle">genre</h6>
                            <div class="check-area">
                                <div class="form-group">
                                    <input type="checkbox" name="Genre" id="genre1" value="Thriller"><label for="genre1">Thriller</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Genre" id="genre2" value="Horror"><label for="genre2">Horror</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Genre" id="genre3" value="Drama"><label for="genre3">drama</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Genre" id="genre4" value="Romance"><label for="genre4">Romance</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Genre" id="genre5" value="Action"><label for="genre5">Action</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Genre" id="genre6" value="Comedy"><label for="genre6">Comedy</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Genre" id="genre7" value="Romantic"><label for="genre7">Romantic</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Genre" id="genre8" value="Animation"><label for="genre8">Animation</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Genre" id="genre9" value="Sci-fi"><label for="genre9">Sci-fi</label>
                                </div>
                                <div class="form-group">
                                    <input type="checkbox" name="Genre" id="genre10" value="Adventure"><label for="genre10">Adventure</label>
                                </div>
                            </div>
                            @*  <div class="add-check-area">
                            <a href="#0">view more <i class="plus"></i></a>
                            </div> *@
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="custom-button">Search</button>
                    </div>&nbsp;
                    <div>
                        <button type="reset" class="custom-button">Clear All</button>
                    </div>
                </form>
            </div>
            <!--Filter End-->

            <div class="col-lg-9 mb-50 mb-lg-0">
                <div class="filter-tab tab">
                    <!--Filter Area Start-->
                    <div class="filter-area">
                        <div class="filter-main">
                            <div class="left">
                                <div class="item">
                                    <span class="show">Show :</span>
                                    <select class="select-bar">
                                        <option value="12">12</option>
                                        <option value="15">15</option>
                                        <option value="18">18</option>
                                        <option value="21">21</option>
                                        <option value="24">24</option>
                                        <option value="27">27</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                                <div class="item">
                                    <span class="show">Sort By :</span>
                                    <select class="select-bar">
                                        <option value="showing">now showing</option>
                                        <option value="exclusive">exclusive</option>
                                        <option value="trending">trending</option>
                                        <option value="most-view">most view</option>
                                    </select>
                                </div>
                            </div>
                            <ul class="grid-button tab-menu">
                                <li class="active">
                                    <i class="fas fa-th"></i>
                                </li>
                                <li>
                                    <i class="fas fa-bars"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Filter Area End-->
                    <!--List System Start-->
                    <div class="tab-area">
                        <div class="tab-item active">
                            <div class="row mb-10 justify-content-center">
                                @foreach (DataRow dataRow in Model.Rows)
                                {
                                    <div class="col-sm-6 col-lg-4" id="sample_2">
                                        <div class="movie-grid">
                                            <div class="movie-thumb c-thumb">
                                                <a asp-route-MovieID="@dataRow["MovieID"]" asp-area="User" asp-controller="MovieDetail" asp-action="MovieDetail">
                                                    <img src=@dataRow["PosterImageURL"] alt="movie">
                                                </a>
                                            </div>
                                            <div class="movie-content bg-one">
                                                <h5 class="title m-0">
                                                    <a asp-route-MovieID="@dataRow["MovieID"]" asp-area="User" asp-controller="MovieDetail" asp-action="MovieDetail">@dataRow["Title"]</a>
                                                </h5>
                                                <ul class="movie-rating-percent">
                                                    <li>
                                                        <div class="thumb">
                                                            <img src="~/assets2/images/movie/tomato.png" alt="movie">
                                                        </div>
                                                        <span class="content">@dataRow["Genre"]</span>
                                                    </li>
                                                    <li>
                                                        <div class="thumb">
                                                            <img src="~/assets2/images/movie/cake.png" alt="movie">
                                                        </div>
                                                        <span class="content">@dataRow["Rating"]</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }


                            </div>
                        </div><!--Movie Grid-->
                        <div class="tab-item">
                            <div class="movie-area mb-10">
                                @foreach (DataRow dataRow in Model.Rows)
                                {
                                    <div class="movie-list">
                                        <div class="movie-thumb c-thumb">
                                            <a asp-route-MovieID="@dataRow["MovieID"]" asp-area="User" asp-controller="MovieDetail" asp-action="MovieDetail" class="w-100 bg_img h-100" data-background="@Url.Content(dataRow["PosterImageURL"].ToString())">
                                                <img class="d-sm-none" src=@dataRow["PosterImageURL"] alt="movie">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title">
                                                <a href="movie-details.html">@dataRow["Title"]</a>
                                            </h5>
                                            <p class="duration">@dataRow["Duration"]</p>
                                            <div class="movie-tags">
                                                <p href="#0">@dataRow["Genre"]</p>
                                            </div>
                                            <div class="release">
                                                <span>Release Date : </span> <a href="#0">@dataRow["ReleaseDate"]</a>
                                            </div>
                                            <ul class="movie-rating-percent">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="~/assets2/images/movie/tomato.png" alt="movie">
                                                    </div>
                                                    <span class="content">@dataRow["Rating"]</span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="~/assets2/images/movie/cake.png" alt="movie">
                                                    </div>
                                                    <span class="content">@dataRow["Rating"]</span>
                                                </li>
                                            </ul>
                                            <div class="book-area">
                                                <div class="book-ticket">
                                                    <div class="react-item">
                                                        <a href="#0">
                                                            <div class="thumb">
                                                                <img src="~/assets2/images/icons/heart.png" alt="icons">
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="react-item mr-auto">
                                                        <a asp-route-MovieID="@dataRow["MovieID"]" asp-area="User" asp-controller="TicketPlan" asp-action="TicketPlan">
                                                            <div class="thumb">
                                                                <img src="~/assets2/images/icons/book.png" alt="icons">
                                                            </div>
                                                            <span>book ticket</span>
                                                        </a>
                                                    </div>
                                                    <div class="react-item">
                                                        <a href="@dataRow["TrailerURL"]" class="popup-video" data-trailer-url="@dataRow["TrailerURL"]">
                                                            <div class="thumb">
                                                                <img src="~/assets2/images/icons/play-button.png" alt="icons">
                                                            </div>
                                                            <span>Watch Trailer</span>
                                                        </a>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div><!--Movie List-->
                    </div>
                    <!--List System End-->
                    @* <!--Pagenation Start-->
                    <div class="pagination-area text-center">
                    <a href="#0"><i class="fas fa-angle-double-left"></i><span>Prev</span></a>
                    <a href="#0">1</a>
                    <a href="#0">2</a>
                    <a href="#0" class="active">3</a>
                    <a href="#0">4</a>
                    <a href="#0">5</a>
                    <a href="#0"><span>Next</span><i class="fas fa-angle-double-right"></i></a>
                    </div>
                    <!--Pagenation End--> *@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Movie-Section -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".popup-video").on("click", function (e) {
                e.preventDefault();
                var trailerURL = $(this).attr("href");
                openPopup(trailerURL);
            });

            function openPopup(videoURL) {
                var width = 560;
                var height = 315;
                var left = window.innerWidth / 2 - width / 2;
                var top = window.innerHeight / 2 - height / 2;
                var options = "width=" + width + ",height=" + height + ",top=" + top + ",left=" + left;

                // Open a popup window with the embedded YouTube video player
                var popup = window.open(videoURL, "_blank", options);
                if (popup) {
                    popup.focus();
                } else {
                    alert("Please allow pop-ups for this site.");
                }
            }
        });

    </script>

    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 .movie-grid").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });

    </script>

    <script>
        function fnOnStateChange() {
            var stateID = $("#StateID").val();
            if (stateID !== "") {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("CityDropDownByStateID", "UserDashBoard")" + "?stateID=" + stateID,
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        $.each(result,
                            function (key, value) {
                                $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                            });
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        alert("Error while loading City.");
                    }
                });
            } else {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select City"));
            }
        }

        function fnOnCityChange() {
            var stateID = $("#StateID").val();
            var cityID = $("#CityID").val();
            if (stateID !== "" && cityID !== "") {
                $("#CinemaID").empty();
                $("#CinemaID").append($("<option></option>").val("").html("Select Cinema"));
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("CinemaDropDownByStateIDAndCityID", "UserDashBoard")" + "?StateID=" + StateID + "&cityID=" + cityID,
                    data: {},
                    dataType: "json",
                    success: function (result) {
                        $.each(result,
                            function (key, value) {
                                $("#CinemaID").append($("<option></option>").val(value.cinemaID).html(value.cinemaName));
                            });
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                        alert("Error while loading Cinema.");
                    }
                });
            } else {
                $("#CinemaID").empty();
                $("#CinemaID").append($("<option></option>").val("").html("Select Cinema"));
            }
        }
    </script>

}