@{
    ViewData["Title"] = "TicketPlan Page";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}
@* @using System.Data
@model List<BookMovieShow.Areas.User.Model.TicketPlanModel>
@using BookMovieShow.Areas.User.Model
@{
    TicketPlanModel tModel = new TicketPlanModel();
} *@

@using BookMovieShow.Areas.User.Model
@model List<BookMovieShow.Areas.User.Model.TicketPlanModel>
@{
    TicketPlanModel firstItem = Model.FirstOrDefault();
}


<style>
    .padding-bottom {
        padding-bottom: 20px;
    }

    .padding-top {
        padding-top: 40px;
    }
</style>
<!-- ==========Window-Warning-Section========== -->
<section class="window-warning inActive">
    <div class="lay"></div>
    <div class="warning-item">
        <h6 class="subtitle">Welcome! </h6>
        <h4 class="title">Select Your Seats</h4>
        <div class="thumb">
            <img src="~/assets2/images/movie/seat-plan.png" alt="movie">
        </div>
        <a asp-route-ShowTimeID="@firstItem.ShowTimeID" asp-area="User" asp-controller="SeatPlan" asp-action="SeatPlan" class="custom-button seatPlanButton">Seat Plans<i class="fas fa-angle-right"></i></a>


    </div>
</section>
<!-- ==========Window-Warning-Section========== -->
<!-- ==========Banner-Section========== -->
<section class="details-banner hero-area bg_img" data-background=@Url.Content("~/assets2/images/banner/banner03.jpg")>
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-content">
                @if (firstItem != null)
                {
                    <h3 class="title">@firstItem.Title</h3>
                    <div class="tags">
                        <a href="#0">@firstItem.Genre</a>
                        @* <a href="#0">Hindi</a>
                    <a href="#0">Telegu</a>
                    <a href="#0">Tamil</a> *@
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Movie-Section========== -->
<div class="ticket-plan-section padding-bottom padding-top">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-9 mb-5 mb-lg-0">
                <ul class="seat-plan-wrapper bg-five">
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="movie-name">
                                <div class="icons">
                                    <i class="far fa-heart"></i>
                                    <i class="fas fa-heart"></i>
                                </div>
                                <a href="#0" class="name">@item.CinemaName</a>
                                <div class="location-icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                            </div>
                            <div class="movie-schedule">
                                <div class="item">
                                    @Convert.ToDateTime(item.ShowTime).ToString("hh:mm")
                                </div>
                                <div class="item">
                                    13:45
                                </div>
                                <div class="item">
                                    15:45
                                </div>
                                <div class="item">
                                    19:50
                                </div>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ==========Movie-Section========== -->